# Default ignored files
/shelf/
/workspace.xml
.idea
**/target
*.iml
.project
.vscode
.settings/
.classpath
**/yarn.lock

src/main/resources/public


.DS_Store
**/node_modules
coverage
/dist*

/tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

**.log
/bin/

**/configs/*.yml
**/configs/*.json

**/.elasticbeanstalk/config.yml
*-application.properties
